@import "variables";

.configurator-wrapper {
  position: relative;
  min-height: calc(100vh - #{$header-bar-height});
  max-height: calc(100vh - #{$header-bar-height});
  padding:10px;
  background-color: $pipeline-editor-configurator-background;

}

.configurator-body {
  overflow-y: auto;
  padding: 10px 2px;
}

.mat-divider{
  width:100%;
}

.warning-btn{
  font-size: 1.2em;
}
