
.table-wrapper {
    padding: 50px 50px 0  50px;
}
.table-position {
    width: 100%;
    table-layout: auto;

}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
    border-bottom-width: 0;
}

.example-element-row.expanded td {
    border-bottom-width: 0 !important;
}

.jsonViewer {
    height: 0;
    width: 0;
    overflow: hidden;
    display: flex;
}

.jsonViewer.visible {
    height: 100%;
    width: 100%;
}

.mat-tab-header-pagination {
    padding-left: 15px !important;
}

.mat-tab-header-pagination {
    visibility: hidden;
}

.example-detail-row {
    overflow: hidden
}

td {
    overflow-x: auto;
}

tr:hover {
    background: #f5f5f5;
}
/*----------------highlighting---------------------*/

.highlight-added {
    background-color: rgba(153,255,153,0.4)!important;
}

.highlight-modified {
    background-color: rgba(255, 194, 51, 0.6) !important;

}

.highlight-deleted {
    background-color: rgba(163, 0, 0, 0.6) !important;
}


table.mat-table {
    border-spacing: 50px;
}

tr.mat-header-row {
    background-color: rgba(98, 99, 97, 0.3) !important;
}

tr.mat-header-cell {
    width: fit-content;
}

tr.mat-cell {
    width: fit-content;

}
