
.table-wrapper {
    padding: 50px 50px 0  50px;
}
.table-position {
    width: 100%;
    table-layout: auto;

}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
    border-bottom-width: 0;
}

.example-element-row.expanded td {
    border-bottom-width: 0 !important;
}

.jsonViewer {
    height: 0;
    width: 0;
    overflow: hidden;
    display: flex;
}

.jsonViewer.visible {
    height: 100%;
    width: 100%;
}

.mat-tab-header-pagination {
    padding-left: 15px !important;
}

.mat-tab-header-pagination {
    visibility: hidden;
}

.example-detail-row {
    overflow: hidden
}

td {
    overflow-x: auto;
}

tr:hover {
    background: #f5f5f5;
}
/*----------------highlighting---------------------*/

.highlight-added {
    border-width: 3px !important;
    opacity: 0.5!important;
    border-color: rgb(96, 163, 72) !important;
}

.highlight-modified {
    border-width: 3px !important;
    opacity: 0.5!important;
    border-color: rgb(255, 248, 123) !important;

}

.highlight-deleted {
    border-width: 3px !important;
    opacity: 0.5!important;
    border-color: rgb(163, 0, 0) !important;
}
