/*-------------FilterChooser-----------*/
.modal-lg {
    max-width: 80% !important;
}

.list-group-item-action {
    cursor: pointer;
}

/*------------- IOS Switch -----------------*/

.ios-toggle, .ios-toggle:active {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
    transition: 0.25s ease-in-out;

}

.checkbox-label {
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 16px;
    width: 60px;
    height: 36px;
    border-radius: 18px;
    background: #f8f8f8;
    cursor: pointer;
    transition: 0.25s ease-in-out;

}

.checkbox-label:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 34px;
    text-indent: 40px;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: auto;
    background: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #ddd;
    transition: 0.25s ease-in-out;

}

.checkbox-label:after {
    content: attr(data-off);
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 60px;
    padding: 10px;
    height: 100%;
    width: 36px;
    color: #bfbfbf;
    white-space: nowrap;
    transition: 0.25s ease-in-out;
}

.ios-toggle:checked + .checkbox-label {
    box-shadow: inset 0 0 0 20px #3a88b3, 0 0 0 2px #3a88b3;
    transition: 0.25s ease-in-out;

}

.ios-toggle:checked + .checkbox-label:before {
    box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    left: calc(100% - 36px);
    transition: 0.25s ease-in-out;

}

.ios-toggle:checked + .checkbox-label:after {
    content: attr(data-on);
    left: 60px;
    width: 36px;
    transition: 0.25s ease-in-out;

}

.ios-toggle + .checkbox-label {
    box-shadow: inset 0 0 0 0px #3a88b3, 0 0 0 2px #dddddd;
    transition: 0.25s ease-in-out;

}

.ios-toggle:checked + .checkbox-label {
    box-shadow: inset 0 0 0 18px #3a88b3, 0 0 0 2px #3a88b3;
    transition: 0.25s ease-in-out;

}

.ios-toggle:checked + .checkbox-label:after {
    color: #3a88b3;
    transition: 0.25s ease-in-out;

}

/*-------------- Health Status -------------------*/
.health-light-Red {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: #6e1e01;
    border-radius: 50%;
}

.health-light-Red.Red {
    background-color: red;
    box-shadow: inset #600 0 -1px 9px;

}

.health-light-Yellow {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: #6d5c00;
    border-radius: 50%;
}

.health-light-Yellow.Yellow {
    background-color: yellow;
    box-shadow: inset #660 0 -1px 9px;

}

.health-light-Green {
    width: 12px;
    height: 12px;
    background-color: #3a6300;
    border-radius: 50%;
}

.health-light-Green.Green {
    background-color: lime;
    box-shadow: inset #460 0 -1px 9px;

}

/*-------------------Filter-LiveEditing----------*/
.tag {
    margin-right: 5px;
    padding: 1px 5px;
    display: inline-block;
    background-color: #3a88b3;
    color: white;
    border-radius: 30%;
}

.removeX {
    color:white;
    font-size: larger;
    font-weight: bold;
}
/*------------------ Status-Light----------------*/

.status-light {
    width: 36px;
    height: 36px;
    background-color: rgba(99, 96, 96, 0.48);
    border-radius: 50%;
}

.status-light.Running {
    background-color: lime;
    box-shadow: inset #460 0 -1px 9px;
}

.status-light.Paused {
    background-color: orange;
    box-shadow: inset #460 0 -1px 9px;
}

.status-light.Ready {
    background-color: lightblue;
    box-shadow: inset #460 0 -1px 9px;
}

.status-light.Drained {
    background-color: purple;
    box-shadow: inset #460 0 -1px 9px;
}

.status-light.Unknown {
    background-color: rgba(99, 96, 96, 0.48);
    box-shadow: inset #460 0 -1px 9px;
}

/*------------------ Loader ---------------------*/
.spinner {
    margin: 100px auto;
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner-dark {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 10px;
}

.spinner-dark > div {
    background-color: #000000;
    height: 100%;
    width: 2px;
    margin-right: 2px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner > div {
    background-color: #ffffff;
    height: 100%;
    width: 6px;
    margin-right: 3px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2, .spinner-dark .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3, .spinner-dark .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4, .spinner-dark .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5, .spinner-dark .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.loading-background {
    background: #354970;
    height: 100vh;
    width: 100vw;
    margin-top: -16px;
    margin-left: -16px;
    padding: 0

}

.row{
    margin-left:0;
    margin-right:0;
}

/*-------side bar------------*/
.wrapper {
    display: flex;
    align-items: stretch;
    position:relative;}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background: #365880;
    color: #fff;
    transition: all 0.3s;
}

#sidebar p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebar img {
    display: inline-block;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar img {
    margin-right: 10px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar .sidebar-header img {
    width: 100%;
    height: 100%;
}

#sidebar .sidebar-footer {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #344d74;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #3a88b3;
}

/* Shrinking the sidebar from 250px to 80px and center aligning its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active img {
    display: block;
    margin: 0 auto;
}

#sidebar .sidebar-header strong {
    display: none;
}

#sidebar.active .sidebar-header img {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar .sidebar-footer strong {
    display: none;
}

#sidebar .hide-on-expand {
    display: none;
}

#sidebar .hide-on-collapse {
    display: inline-block;
}

#sidebar.active .hide-on-collapse {
    display: none;
}

#sidebar.active .hide-on-expand {
    display: block;
}

#sidebar.active .sidebar-footer strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.75em;
}

@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0;
    }

    /* Toggling the sidebar header content,
       hide the big heading [img] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }

    #sidebar.active .sidebar-header img {
        display: none;
    }

    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

}
/*------------------header-bar---------------------*/
#header-bar {
    min-height: 5vh;
    background-color:  #365880;
    color: white;
}

#header-bar .title {
    font-size: x-large;
    color: white;
}

#header-bar .reload {
    box-shadow: 4px 4px;
}

#language-selector .dropdown-item > img {
    display: inline-block;
}

