<div class="row justify-content-center">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 *ngIf="!editing" class="font-weight-bold">{{streamName}}</h4>
                        <input *ngIf="editing" placeholder="Name" [(ngModel)]="streamName"/>
                    </div>
                    <div>
                        <button *ngIf="!editing" type="button" class="btn btn-primary mr-1" (click)="startStreamEditing()">Edit</button>
                        <button *ngIf="editing" type="button" class="btn btn-success" (click)="saveStreamEditing()">Save</button>
                        <button *ngIf="editing" type="button" class="btn btn-secondary" (click)="cancelStreamEditing()">Cancel</button>
                    </div>
                </div>
                <div>
                    <small class="">{{streamId}}</small>
                </div>
            </div>
            <div class="card-body">
                <label *ngIf="!editing">{{streamDescription}}</label>
                <textarea *ngIf="editing" class="form-control" placeholder="Description" rows="4" [(ngModel)]="streamDescription"></textarea>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div *ngIf="editing">
                    <button type="button" class="btn btn-primary" (click)="addFilter()">Add Filter</button>
                </div>
                <div *ngIf="editing">
                    <button type="button" class="btn btn-danger" (click)="deleteStream()">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card mb-1" *ngFor="let filter of (stream$ | async).filters; let i = index">
            <div class="card-title">
                <div class="row pl-2 pt-2 pr-2">
                    <div class="col-auto btn-group-vertical">
                        <button type="button" class="btn btn-light font-weight-bold" (click)="moveFilter(filter.id, i - 1)" [disabled]="i == 0">U</button>
                        <button type="button" class="btn btn-light font-weight-bold" (click)="moveFilter(filter.id, i + 1)" [disabled]="i == filterCount - 1">D</button>
                    </div>
                    <div class="col" style="margin-top: auto; margin-bottom: auto" *ngIf="!filter.editing">
                        <span class="font-weight-bold">{{filter.name}}</span><br>
                        <small>{{filter.description}}</small>
                    </div>
                    <div class="col" style="margin-top: auto; margin-bottom: auto" *ngIf="filter.editing">
                        <input id="filterName" class="form-control" placeholder="Name" [(ngModel)]="filter.name"/>
                        <input id="filterDescription" class="form-control" placeholder="Description" [(ngModel)]="filter.description"/>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary" *ngIf="!filter.editing" (click)="editFilter(filter.id)">Edit</button>
                        <button type="button" class="btn btn-danger" *ngIf="filter.editing" (click)="removeFilter(filter.id)">Remove</button>
                        <button type="button" class="btn btn-primary" *ngIf="filter.editing" (click)="saveFilter(filter.id)">Save</button>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="filter.editing">
                <h6 class="font-weight-bold">Filter 1</h6>
            </div>
        </div>
    </div>
</div>