<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter Chooser</h5>
                <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <img class="input-group-text" width="48em" height="48em" src="/assets/images/magnifying-glass.svg"/>
                            </div>
                            <input type="text" class="form-control" placeholder="search..." aria-label="search">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-xl-3">
                            <div class="card">
                                <div *ngFor="let category of categories$" class="list-group-flush">
                                    <button (click)="selectCategory(category)" [ngClass]="{true:'list-group-item list-group-item-action active-group', false: 'list-group-item list-group-item-action'}[selectedCategory$==category]">{{category}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card">
                                <div *ngFor="let descriptor of filterDescriptors$ | async" class="list-group-flush">
                                    <button class="list-group-item list-group-item-action" (click)="select(descriptor)">{{descriptor.displayName}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div *ngIf="selectedFilterDescriptor" class="card">
                                <div class="list-group-flush">
                                    <div class="list-group-item d-flex justify-content-between">
                                        <h4>{{selectedFilterDescriptor.displayName}}</h4>
                                        <button type="button" class="btn btn-success" (click)="add(selectedFilterDescriptor)">Add</button>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="">
                                            <div class="">
                                                {{selectedFilterDescriptor.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>