@import "../../../style/variables";

.parameter-required {
  color: $error;
  font-size: 0.8em;
}

.parameter-wrapper {
  width: 100%;
  padding: 0;
}

.mat-form-field {
  width: 100% !important;
  margin-left: 0 !important;
}

.mat-form-field-infix {
  width: 45% !important;
}

.mat-chip {
  word-break: break-all;
}

.field-directive-sequence {
  max-width: 100%;
  border: solid 1px #ccc;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.field-directives-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.field-directives-box:last-child {
  border: none;
}

.field-directive-sequence.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.directive-form {
  margin-top: 8px;
}