.draggable{
    padding:10px;
    border: solid 1px black;
    cursor:move;
    user-select:none;
}

.dropzone{
    border: solid 1px black;
    min-height:600px;
}

.is-droppable{
    border: solid 3px green;
}

.mirror{
    position:absolute;
    z-index: 9999;
}

.workspace{
    height:650px;
    overflow-x: scroll;
    overflow-y: scroll;
}