.pipely-wrapper{
    box-sizing: border-box;
}

.draggable {
    padding: 10px;
    border: solid 1px darkgrey;
    color: white;
    background-color: #365880;
    cursor: move;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.dropzone-workspace {
    border: solid 1px black;
    height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;

}

.dropzone-toolbar {
    border: solid 1px black;
    margin-bottom: 10px;
    padding: 10px;
}

.dropzone-toolbar .draggable {
    margin-right: 10px;
}

.connection{
    min-height:100%;
}

/*.dropzone-connector{
    min-width:100%;
    min-height: 100%;
}*/

/*.previous-connection {
    margin-right: 5px;
    min-height: 100%;
    border-right: dashed 2px black;
}

.next-connection{
    min-height: 100%;
    margin-left:5px;
    border-left: dashed 2px black;
}*/

.is-droppable {
    border: dashed 3px lime;
}


.mirror {
    position: absolute;
    z-index: 9999;
    opacity: 0.6;
}

.workspace {
    height: 650px;
}