<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="io.logbee.keyscore.commons.logging.KeyscoreLoggingLayout" />
        </encoder>
    </appender>
    <logger name="akka.actor.TimerScheduler" level="info" />
    <logger name="akka.actor.Scheduler" level="info" />
    <logger name="akka.cluster.ddata.Replicator" level="info" />
    <logger name="akka.http" level="info" />
    <logger name="akka.kafka" level="info" />
    <logger name="com.hierynomus" level="info" />
    <logger name="org.apache.kafka" level="info" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
