@import '../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import "../../../../node_modules/material-design-icons/iconfont/material-icons.css";

/*-------------Live-Editing------------------*/
.live-editing-wrapper {
    margin: 15px ;
    box-sizing: border-box;
}

.marginForNavigationControl {
    margin-top: 15px;
}
.configurator-wrapper{
    position:relative;
    max-width: 100%;
}
configurator {
    padding: 10px;
    z-index: 500;
    position:relative;
    background-color: rgba(0,0,0,0.001);
}

.configurator-footer{
    position:absolute;
    display:flex;
    bottom:10px;
    width:100%;
}

.configurator-body{
    overflow-y: scroll;
    max-height:calc(95vh - 100px);
    padding:10px 0;
}

.configurator-body::-webkit-scrollbar {
    display: none;
}
.collapseButton {
    margin-right: 15px!important;
    margin-top: 15px!important;
}

/*-----custom-table-overrides-live-editing---------*/
table.mat-table.live-editing {
    overflow: auto;
}
th.mat-header-cell.text-padding {
    padding-left: 15px!important;

}
td.mat-cell.cell-border {
    border-left: 2px solid rgba(128, 128, 128, 0.76) !important;
    padding-left: 15px;
    padding-right: 15px;
}

th.mat-header-cell.cell-border {
    padding-left: 15px;
    padding-right: 15px;
}

td.mat-cell.text-padding {
    padding-left: 15px;
    padding-right: 15px;
}