@import '../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import "../../../../node_modules/material-design-icons/iconfont/material-icons.css";

/*-------------Live-Editing------------------*/
.live-editing-wrapper {
    margin: 15px ;
    box-sizing: border-box;
}
.configurator-wrapper{
    position:relative;
    max-width: 100%;
}
configurator {
    padding: 10px;
    z-index: 500;
    position:relative;
    max-height:calc(95vh - 3px);
    background-color: rgba(0,0,0,0.001);
}

.configurator-footer{
    position:absolute;
    display:flex;
    bottom:10px;
    width:100%;
}

.configurator-body{
    overflow-y: scroll;
    max-height:calc(95vh - 100px);
    padding:10px 0;
}

.configurator-body::-webkit-scrollbar {
    display: none;
}
.collapseButton {
    margin-right: 15px!important;
    margin-top: 15px!important;
}