@import "variables";

#header-bar {
  position:relative;
  padding:10px;
  height:$header-bar-height;
  min-height:calc(20px + 24px); // padding + x-large font size
  background-color: $keyscore-blue;
  color: white;
}

#header-bar .title {
  font-size: x-large;
  color: white;
}

.progress-bar-header{
  position:absolute !important;
  bottom:0 !important;
  left:0 !important;
}
