error-component .top-column{
  background-color:#344d74;
}

error-component .bottom-column{
  background-color:#344d74;
  color:white;
}

error-component .error-message h3{
  font-size: 1.4em;
}

error-component .error-code h1{
  font-size:2.5em;
}