<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter Editor - {{(filter$| async).displayName}}</h5>
                <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container-fluid">
                <form class="form-horizontal col-12" (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div class="modal-body">
                        <div *ngFor="let parameter of filterParameters$ | async" class="form-row">
                            <app-parameter class="col-12" [parameter]="parameter" [form]="form"></app-parameter>
                        </div>

                        <div class="form-row" *ngIf="payLoad">
                            Saved the following values<br>{{payLoad}}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" [disabled]="!form.valid" class="btn btn-success">Ok</button>
                        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>