@import "../../../style/variables";

#header-bar {
  padding:10px;
  height:5vh;
  min-height:calc(20px + 24px); // padding + x-large font size
  background-color: #365880;
  color: white;
}

#header-bar .title {
  font-size: x-large;
  color: white;
}

#header-bar .mat-success{
  border-color:$success !important;
  color:$success !important;
}

#header-bar .mat-success:hover{
  background-color: $success !important;
  color:white !important;

}