@import "../../../style/variables";

#header-bar {
  position:relative;
  padding:10px;
  height:5vh;
  min-height:calc(20px + 24px); // padding + x-large font size
  background-color: #365880;
  color: white;
}

#header-bar .title {
  font-size: x-large;
  color: white;
}

#header-bar .mat-success{
  border-color:$success !important;
  color:$success !important;
}

#header-bar .mat-success:hover{
  background-color: $success-transparent !important;
  color:$success !important;

}

.progress-bar-header{
  position:absolute !important;
  bottom:0 !important;
  left:0 !important;
}