<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="io.logbee.keyscore.commons.util.KeyscoreLoggingLayout" />
        </encoder>
    </appender>
    <logger name="akka.cluster.ddata.Replicator" level="info" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
