<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{yyyy-MM-dd } %X{akkaTimestamp}] [%-5level] %X{akkaSource} %logger - %message%n</pattern>
        </encoder>
    </appender>
    <logger name="akka.cluster.ddata.Replicator" level="info" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
