.directive-wrapper{
  width:100%;
}

.directive-header {
  &[aria-disabled='true'] {
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

.directive-title {
  justify-content: center;
}

.icon-wrapper{
  width:16px;
  height: 16px;
}

.info-icon {
  width: 16px !important;
  height: 16px !important;
  font-size: 1em;
  justify-self: center;
  align-self: center;
}
