@import "~keyscore-manager-material/src/main/style/variables";

.slider-label {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.54);
}

.ks-slider {
  width: 100% !important;
  margin-left: 0 !important;
}

.ks-expansion-panel-title {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.parameter-list-host {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.parameter-list-host mat-expansion-panel {
  box-shadow: none !important;
}

.parameter-list-header {
  margin-left: 8px;
}

.parameter-warn {
  margin-top: -10px;
  line-height: 1.2em;
  color: $warn;
  font-size: 75%;
}

.parameter-list-warn {
  line-height: 1.2em;
  color: $warn;
  font-size: 75%;
  margin-top: -12px;
  margin-left: 24px;
}

.parameter-warn-with-hint {
  margin-top: -1px;
  color: $warn;
  font-size: 75%;
}

.choice-max-error {
  position:absolute;
  display: block;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
  background-color: #f4f4f4;
  color: $warn;
  font-size: 75%;
  z-index:100;
}

.parameter-wrapper {
  width: 100%;
  padding: 0;
}

.form-field-pb-20 {
  padding-bottom: 20px;
}

.mat-form-field {
  width: 100% !important;
  margin-left: 0 !important;
}

.mat-form-field-infix {
  width: 45% !important;
}

.mat-chip {
  word-break: break-all;
}

.field-directive-sequence {
  max-width: 100%;
  //border: solid 1px #ccc;
  background: $pipeline-editor-configurator-background;
  border-radius: 4px;
  overflow: hidden;
}

.field-directives-box {
  border: solid 1px #ccc;
  //border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: white;
  margin-top: 5px !important;
  border-radius: 4px;
}

.field-directives-box.directive {
  padding-bottom: 20px;
}

.parameter-list-item {
  display: flex;
}

.drag-handle {
  color: #ccc;
  cursor: move;
  /*width: 20px;
  height: 20px;*/
  margin-right: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.cdk-drag-preview parameter-text {
  align-self: center;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.field-directives-box:last-child {
  //border: none;
}

.field-directive-sequence.cdk-drop-list-dragging .field-directives-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.directive-form {
  margin-top: 8px;
  padding: 0 5px;
}

.sequence-form {
  padding: 0 5px;
}

mat-expansion-panel-header {
  background-color: rgba(0, 0, 0, 0.03) !important;
  padding: 10px 10px 5px 10px !important;
  height: auto !important;
  color: rgba(0, 0, 0, 0.87);
  transition: margin-bottom 250ms cubic-bezier(0, 0, 0.2, 1);
  flex-direction: row-reverse !important;
}

mat-expansion-panel-header.is-active {
  margin-bottom: 10px;
}

.directive-header {
  background-color: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.87);
}

.sequence-header {
  width: 100% !important;
}

mat-expansion-panel-header .mat-content {
  border-left: 1px solid lightgray !important;
  margin-left: 20px !important;
}

.mat-expansion-indicator {
  margin-left: 10px !important;
}

.directive-add {
  width: 100% !important;
  margin: 5px 0 !important;
  border: 1px dashed $accent !important;
}

.directive-add:hover {
  background-color: $accent-transparent;
}
