@import "../../../../keyscore-manager-material/src/main/style/variables";

th.mat-header-cell.text-padding {
  padding-left: 15px !important;

}

td.mat-cell.cell-border {
  border-left: 2px solid rgba(128, 128, 128, 0.76) !important;
  padding-left: 15px;
  padding-right: 15px;
}

th.mat-header-cell.cell-border {
  padding-left: 15px;
  padding-right: 15px;
}

td.mat-cell.text-padding {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 15%;
}

mat-form-field {
  margin-left: 15px;
}

.control {
  margin-bottom: 16px;

}

.switch {
  margin-right: 15px !important;
  margin-top: 15px !important;

}

.no-results-wrapper {
  padding-top: 15vh;
  color: rgba(0, 0, 0, 0.38);
  font-size: 1.4em;
}

.data-preview-wrapper {
  padding: 16px 16px 0;
}


