@import "../../../../keyscore-manager-material/src/main/style/variables";

th.mat-header-cell.text-padding {
  padding-left: 15px !important;

}

td.mat-cell.cell-border {
  border-left: 2px solid rgba(128, 128, 128, 0.76) !important;
  padding-left: 15px;
  padding-right: 15px;
}

th.mat-header-cell.cell-border {
  padding-left: 15px;
  padding-right: 15px;
}

td.mat-cell.text-padding {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 15%;
}

mat-form-field {
  margin-left: 15px;
}

.control {
  margin-bottom: 16px;

}

.switch {
  margin-right: 15px !important;
  margin-top: 15px !important;

}

.no-results-wrapper {
  padding-top: 15vh;
  color: rgba(0, 0, 0, 0.38);
  font-size: 1.4em;
}

.data-preview-wrapper {
  position: relative;
  padding: 16px 16px 0;
  height: 100%;
}


.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.8);
  left: -16px;
  top: -16px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
}

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(22.5vh - 37.5px);
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.38);
}

.spinner-wrapper > span {
  margin-top: 15px;
}

.progress {
  position: relative;
  top: -16px;
  left: -16px;
  width: calc(100% + 32px);
}
